@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */

@theme {
  --color-bg: #003b3b;
  --text-color-primary: #f9f4ef;
  --text-color-secondary: #b8b2a8;

  --color-yellow: #f2b705;
  --color-purple: #812a8a;
  --color-green: #4cb9a5;
}

body {
  @apply bg-bg;
  @apply text-primary;
}

@layer base {
  h1 {
    font-size: var(--text-2xl);
    @apply text-primary;
  }
  h2 {
    font-size: var(--text-xl);
    @apply text-primary;
  }
  h3 {
    font-size: var(--text-lg);
  }

  a {
    color: var(--color-blue-600);
    text-decoration-line: underline;
  }
  button {
    @apply px-3 py-4 bg-teal-700 text-white font-semibold rounded-xl
           shadow-lg transition-transform duration-200 ease-in-out;
  }
  button:hover {
    @apply brightness-110 -translate-y-0.5 shadow-lg;
  }

  button:active {
    @apply scale-95 shadow-sm;
  }
  a {
    @apply w-full px-3 py-4 bg-teal-700 text-white font-semibold rounded-xl
           shadow-lg transition-transform duration-200 ease-in-out;
  }

  a:hover {
    @apply brightness-110 -translate-y-0.5 shadow-lg;
  }

  a:focus {
    @apply ring-2 ring-teal-300 rounded-sm outline-none;
  }

  a:active {
    @apply scale-95 shadow-sm;
  }
}
