---
import Layout from "../layouts/Layout.astro";
import prisma from "../lib/prisma";
// server

const games = await prisma.games.findMany();
console.log(games);
---

<Layout>
  <div class="grid lg:grid-cols-4 p-4 justify-center">
    {
      games.map((game) => {
        return <a href={`/${game.id}/admin`}> {game.name} </a>;
      })
    }
  </div>
</Layout>
